<!-- Alpha version: 11/03/2024 -->
<!-- Page provides template for book page for users -->
{% extends "user_specific/dashboard.html" %}

{% block main_body %}
    <div class="container text-center mx-auto border border-dark p-1">
        <div class="row text-center mx-auto">
            <div class="col">
                <h4 class="help-text"> {{ book.name }} </h4>

                {% if book.description %}
                    <p class="help-text"> {{ book.description }} </p> 
                {% else %}
                    <p class="help-text"> No description provided! </p>
                {% endif %}
                
                <div>
                    {% if state == 0 %}
                        <!-- Borrowed -->
                        <form action="{{url_for('read')}}" method="POST">
                            <input type="text" value="{{book.id}}" name="book_id" hidden>
                            <input type="submit" class="btn btn-primary" value="Read">
                        </form>
                        
                        <form action="{{url_for('_return')}}" method="POST">
                            <input type="text" value="{{book.id}}" name="book_id" hidden>
                            <input type="submit" class="btn btn-danger" value="Return">
                        </form>
                    {% elif state == 1 %}
                        <!-- Requested -->
                        <form action="{{url_for('cancel_request_book')}}" method="POST">
                            <input type="text" value="{{book.id}}" name="book_id" hidden>
                            <input type="submit" class="btn btn-danger" value="Cancel Request">
                        </form>
                    {% elif state == 2 %}
                        <!-- No free space -->
                        <form action="">
                            <input type="text" value="{{book.id}}" name="book_id" hidden>
                            <input type="submit" class="btn btn-primary" value="Request" disabled>
                        </form>
                    {% else %}
                        <!-- Not requested and space present -->
                        <form action="{{url_for('request_book')}}" method="POST">
                            <input type="text" value="{{book.id}}" name="book_id" hidden>
                            <input type="submit" class="btn btn-primary" value="Request">
                        </form>
                    {% endif %}
                    
                </div>
                <br>

                <div>
                    <h4 class="help-text">No of ratings: {{ num_scores }}</h4>
                    {% if avg_score %}
                        <h4 class="help-text"> Average Rating: {{ avg_score }} </h4>
                    {% endif %}
                    {% if your_score %}
                        <h4 class="help-text"> Your Rating: {{ your_score }} </h4>
                    {% endif %}

                    <h5 class="help-text">Rate this book:</h5>
                    <form action="{{url_for('rate')}}" method="POST">
                        <input type="text" name="book_id" value="{{book.id}}" hidden>
                        <input type="number" min="1" max="5" name="score" value="3">
                        <br>
                        <br>
                        <input type="submit" value="Rate" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class="col">
                <h4 class="help-text">Sections: </h4>
                {% for section in all_sections %}
                    <a class="link-text" href="{{ url_for('selected_genre',name=section.name) }}">{{ section.name }} </a>
                    <br>
                {% endfor %}
            </div>

            <div class = "col">
                <div>
                    <h4 class="help-text">Authors: </h4>
                    {% for author in all_authors %}
                        <a class="link-text" href="{{ url_for('selected_author',id = author.id) }}">{{ author.name }}</a>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div>
            <form action="{{url_for('comment')}}" method="POST">
                <legend>Add a comment</legend>
                <textarea name="content" id="" cols="30" rows="5"></textarea>
                <input type="number" name="book_id" value="{{book.id}}" hidden>
                <br>
                <br>
                <input type="submit" class="btn btn-primary" value="Comment">
            </form>
        </div>

        {% if book.comments %}
            <div class="row">
                <div class="col"> 
                    <h3 class="help-text">All Comments</h3>
                    {% for comment in book.comments %}
                        <div>
                            <h4 class="help-text">{{comment.user.username}}</h4>
                            {% if comment.user.id == current_user.id %}
                                <a class="btn link-text" href="{{url_for('remove_own_comment',id=comment.id)}}" onclick="return confirm('Delete comment?')">Delete</a>
                            {% endif %}
                            <p class="help-text">{{comment.content}}</p>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
