{% extends "base_templates/dashboard.html" %}

{% block main_body %}
    <div class="container text-center mx-auto border border-dark p-1">
        <div class="row text-center mx-auto">
            <div class="col">
                <h4> {{ book.name }} </h4>

                {% if book.description %}
                    <p> {{ book.description }} </p> 
                {% else %}
                    <p> No description provided! </p>
                {% endif %}
                
                <div>
                    {% if owned == 1 %}
                        <form action="{{url_for('read')}}" method="POST">
                            <input type="text" value="{{book.id}}" name="book_id" hidden>
                            <input type="submit" class="btn btn-primary" value="Read">
                        </form>
                        
                        <form action="{{url_for('_return')}}" method="POST">
                            <input type="text" value="{{book.id}}" name="book_id" hidden>
                            <input type="submit" class="btn btn-primary" value="Return">
                        </form>
                    {% elif owned == 0 %}
                        <form action="{{url_for('borrow')}}" method="POST">
                            <input type="text" value="{{book.id}}" name="book_id" hidden>
                            <input type="submit" class="btn btn-primary" value="Request">
                        </form>
                    {% else %}
                        <form action="{{url_for('request_book')}}" method="POST">
                            <input type="text" value="{{book.id}}" name="book_id" hidden>
                            <input type="submit" class="btn btn-primary" value="Borrow">
                        </form>
                    {% endif %}
                    
                </div>
                <br>

                <div>
                    <h4>No of ratings: {{ num_scores }}</h4>
                    {% if avg_score %}
                        <h4> Average Rating: {{ avg_score }} </h4>
                    {% endif %}
                    {% if your_score %}
                        <h4> Your Rating: {{ your_score }} </h4>
                    {% endif %}

                    <h5>Rate this book:</h5>
                    <form action="{{url_for('rate')}}" method="POST">
                        <input type="text" name="book_id" value="{{book.id}}" hidden>
                        <input type="number" min="1" max="5" name="score" value="3">
                        <br>
                        <br>
                        <input type="submit" value="Rate" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class="col">
                <h4>Sections: </h4>
                {% for section in all_sections %}
                    <a href="{{ url_for('selected_genre',name=section.name) }}">{{ section.name }} </a>
                    <br>
                {% endfor %}
            </div>

            <div class = "col">
                <div>
                    <h4>Authors: </h4>
                    {% for author in all_authors %}
                        <a href="{{ url_for('selected_author',id = author.id) }}">{{ author.name }}</a>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div>
            <form action="{{url_for('comment')}}" method="POST">
                <legend>Add a comment</legend>
                <textarea name="content" id="" cols="30" rows="5"></textarea>
                <input type="number" name="book_id" value="{{book.id}}" hidden>
                <br>
                <br>
                <input type="submit" class="btn btn-primary" value="Comment">
            </form>
        </div>

        {% if book.comments %}
            <div class="row">
                <div class="col"> 
                    <h3>All Comments</h3>
                    {% for comment in book.comments %}
                        <div>
                            <h4><a href="">{{comment.user.username}}</a></h4>
                            {% if comment.user.id == current_user.id %}
                                <a href="{{url_for('remove_own_comment',id=comment.id)}}" onclick="return confirm('Delete comment?')">Delete</a>
                            {% endif %}
                            <p>{{comment.content}}</p>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
