{% extends "user_specific/dashboard.html" %}

{% block main_body %}
    <div class="container text-center">
        <h4 class="help-text">New additions!</h4>
        {% for book in new_books %}
        <div class="mx-auto text-center border border-dark p-1" style="width:75%">
            <br>
            <h5><a class="link-text btn" href="{{ url_for('selected_book',id = book.id) }}">{{book.name}}</a></h5>
        </div>
        {% endfor %}

        <br>
        
        <h4 class="help-text">Top rated!</h4>
        {% for rating,book in top_books %}
        <div class="mx-auto text-center border border-dark p-1" style="width:75%">
            <br>
            <a class="link-text btn" href="{{ url_for('selected_book',id = book.id) }}">{{book.name}}</a>
            <p class="help-text">{{rating}}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}