<html>
    <head>
        {% if actual_title %}
        <title>actual_title</title>
        {% else %}
            <title>Moneta</title>
        {% endif %}

        <link href="./static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/custom/global_styles.css">
    </head>

    <body>
        {% block header_element %}
        {% endblock %}

        {% block main_body %}
        {% endblock %}

        {% block footer_element %}
        {% endblock %}
    </body>
</html>