{% extends "dashboard.html" %}

{% block main_body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static',filename='assets/default_book.png') }}" alt="">
                <h4> {{ book.name }} </h4>
                <h4>No of ratings: {{ num_scores }}</h4>
                {% if avg_score %}
                    <h4> Average Rating: {{ avg_score }} </h4>
                {% endif %}
                {% if your_score %}
                    <h4> Your Rating: {{ your_score }} </h4>
                {% endif %}
            </div>

            <div class="col">
                {% if book.description %}
                    <p> {{ book.description }} </p> 
                {% else %}
                    <p> No description provided! </p>
                {% endif %}

                {% for section in all_sections %}
                    <a href="{{ url_for('selected_genre',name=section.name) }}">{{ section.name }} </a>
                    <br>
                {% endfor %}

                <div>
                    <h4>Authors: </h4>
                    {% for author in all_authors %}
                        <a href="{{ url_for('selected_author',id = author.id) }}">{{ author.name }}</a>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "col">
                <!-- options for reading and purchase go here with ratings -->
            </div>
        </div>

        <div class="row">
            <div class="col">
                <!-- reviews/comments go here -->
            </div>
        </div>
    </div>
{% endblock %}
