{% extends "dashboard.html" %}

{% block main_body %}
<div class="container">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

            <div class="form-group">
                {{ form.book_name.label(class='form-control-label') }}
                {% if form.book_name.errors %}
                    {{ form.book_name(class='form-control form-control-md is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.book_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.book_name(class='form-control form-control-md') }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.author_name.label(class='form-control-label') }}
                {% if form.author_name.errors %}
                    {{ form.author_name(class='form-control form-control-md is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.author_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.author_name(class='form-control form-control-md') }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.section_name.label(class='form-control-label') }}
                {% if form.section_name.errors %}
                    {{ form.section_name(class='form-control form-control-md is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.section_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.section_name(class='form-control form-control-md') }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class='btn btn-info') }}
        </div>
    </form>

    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}