{% extends "base.html" %}

{% block main_body %}
    <div class="container">
        <form action="" method="POST">
            {{ register_user_form.hidden_tag() }}
            <fieldset class="form-group">

                <div class="form-group">
                    {{ register_user_form.username.label(class='form-control-label') }}
                    {% if register_user_form.username.errors %}
                        {{ register_user_form.username(class='form-control form-control-md is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in register_user_form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ register_user_form.username(class='form-control form-control-md') }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ register_user_form.email.label(class='form-control-label') }}
                    {% if register_user_form.email.errors %}
                        {{ register_user_form.email(class='form-control form-control-md is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in register_user_form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ register_user_form.email(class='form-control form-control-md') }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ register_user_form.password.label(class='form-control-label') }}
                    {% if register_user_form.password.errors %}
                        {{ register_user_form.password(class='form-control form-control-md is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in register_user_form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ register_user_form.password(class='form-control form-control-md') }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ register_user_form.confirm_password.label(class='form-control-label') }}
                    {% if register_user_form.confirm_password.errors %}
                        {{ register_user_form.confirm_password(class='form-control form-control-md is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in register_user_form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ register_user_form.confirm_password(class='form-control form-control-md') }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ register_user_form.submit(class='btn btn-info') }}
            </div>
        </form>

        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        <small class="text-muted">
            Already have an account? <a href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
{% endblock %}