{% extends "librarian_specific/dashboard.html" %}

{% block main_body %}
    <div class="container text-center mx-auto">
        {% for section in sections %}
            <div class="row mx-auto border border-dark p-1" style="width:75%">
                <div class="col text-center">
                    <h5><a href="{{url_for('see_specific_section',id=section.id)}}">{{ section.name }}</a></h5>
                </div>
                <button class="btn btn-danger">Delete</button>   
            </div>
        {% endfor %}      
    </div>
{% endblock %}