<!-- Alpha version: 11/03/2024 -->
<!-- Page provides display of all users to librarian -->
{% extends "librarian_specific/dashboard.html" %}

{% block main_body %}
    <div class="container text-center mx-auto">
        {% for user in users %}
            {% if not user.is_librarian %}
                <div class="row mx-auto border border-dark p-1" style="width:75%">
                    <div class="col text-center">
                        <h5><a class="btn link-text" href="{{url_for('see_specific_user',id=user.id)}}">{{ user.username }}</a></h5>
                    </div>
                    
                </div>
            {% endif %}
        {% endfor %}      
    </div>
{% endblock %}