{% extends "librarian_specific/dashboard.html" %}

{% block main_body %}
    <div class="container text-center mx-auto border border-dark p-1">
        <div class="row text-center mx-auto">
            <div class="col">
                <h5>{{ user.username }}</h5>
                <a class="btn btn-danger" href="{{url_for('delete_specific_user',id=user.id)}}">Delete</a>
            </div>
        </div>    
        <br>
        <div class="row text-center mx-auto">
            <div class="col">
                <h4>Borrowed Books: </h4>
                {% for borrowed in user.borrowed %}
                    <h5><a href="{{url_for('see_specific_book',id = borrowed.book.id)}}">{{ borrowed.book.name }}</a><button class="btn btn-default">x</button></h5>
                {% endfor %}
            </div>
        </div>
        
    </div>
{% endblock %}