{% extends "librarian_specific/dashboard.html" %}

{% block main_body %}
    <script>
        let validated = false;
        
        function populate_form(obj){
            let i = confirm("Remove relation?")

            if (i){
                let user_id = obj.getAttribute("data-user");
                let book_id = obj.getAttribute("data-book");
                document.getElementById("user_id").value = user_id;
                document.getElementById("book_id").value = book_id;
                validated = true;
            }
            else{
                validated = false;
            }
        }

        function validate_form(){
            return validated;
        }
    </script>

    <form action="{{url_for('remove_book_from_user')}}" method="POST" id="request_form" onsubmit="return validate_form()" hidden>
        <input type="number" name="user_id" id="user_id">
        <input type="number" name="book_id" id="book_id">
        <input type="number" name="origin" id="origin" value="1">
    </form>

    <div class="container text-center mx-auto border border-dark p-1">
        <div class="row text-center mx-auto">
            <div class="col">
                <h5 class="help-text">{{ user.username }}</h5>
                <h5 class="help-text">{{ user.email }}</h5>
                <a class="btn btn-danger" onclick="return confirm('Confirm Deletion?')" href="{{url_for('delete_specific_user',id=user.id)}}">Delete</a>
            </div>
        </div>    
        <br>
        <div>
            <h4 class="help-text">Borrowed Books</h4>
            {% if user.borrowed %}
                {% for r in user.borrowed %}
                    <div class="row mx-auto border border-dark p-1" style="width:75%">
                        <div class="col text-center">
                            <a class="link-text btn" href="{{url_for('see_specific_book',id=r.book.id)}}">{{ r.book.name }}</a>
                        </div>
                    </div>
                {% endfor %}  
            {% else %}
                <p class="help-text">No borrows yet!</p>
            {% endif %}
        </div>
        <br>
        <div>
            <h4 class="help-text">Requested Books</h4>
            {% if user.requested %}
                {% for r in user.requested %}
                    <div class="row mx-auto border border-dark p-1" style="width:75%">
                        <div class="col text-center">
                            <a class="link-text btn" href="{{url_for('see_specific_user',id=r.user.id)}}">{{ r.user.username }}</a>
                            :
                            <a class="link-text btn" href="{{url_for('see_specific_book',id=r.book.id)}}">{{ r.book.name }}</a>
                            <a class="btn btn-success" href="{{url_for('grant',id=r.id)}}" onclick="return confirm('Accept request?')" class="btn btn-primary">Grant</a>
                            <a class="btn btn-danger" href="{{url_for('reject',id=r.id)}}" onclick="return confirm('Reject request?')" class="btn btn-danger">Reject</a>
                        </div>
                    </div>
                {% endfor %}  
            {% else %}
                <p class="help-text">No requests yet!</p>
            {% endif %}
        </div>
        <br>
        <div>
            <h4 class="help-text">Read Books</h4>
            {% if user.read %}
                {% for r in user.read %}
                    <div class="mx-auto text-center border border-dark p-1" style="width:75%">
                        <br>
                        <h5><a class="btn link-text" href="{{ url_for('see_specific_book',id = r.book.id) }}">{{ r.book.name }}</a></h5>
                    </div>
                {% endfor %}  
            {% else %}
                <p class="help-text">No books read yet!</p>
            {% endif %}
        </div>
        <br>
        <div>
            <h4 class="help-text">Returned Books</h4>
            {% if user.returned %}
                {% for r in user.returned %}
                    <div class="mx-auto text-center border border-dark p-1" style="width:75%">
                        <br>
                        <h5><a class="btn link-text" href="{{ url_for('see_specific_book',id = r.book.id) }}">{{ r.book.name }}</a></h5>
                    </div>
                {% endfor %}  
            {% else %}
                <p class="help-text">No books read yet!</p>
            {% endif %}
        </div>
        <br>
        <div>
            <h4 class="help-text">Comments</h4>
            {% if user.comments %}
                {% for c in user.comments %}
                    <div class="row mx-auto border border-dark p-1" style="width:75%">
                        <div class="col text-center">
                            <a class="link-text btn" href="{{url_for('see_specific_book',id=c.book.id)}}">{{ c.book.name }}</a>
                            <p class="help-text">{{ c.content }}</p>
                        </div>
                    </div>
                {% endfor %}  
            {% else %}
                <p class="help-text">No comments yet!</p>
            {% endif %}
        </div>
        
    </div>
{% endblock %}