<!-- Alpha version: 11/03/2024 -->
<!-- Page allowing for viewing and editing relationships between book and other objects -->
{% extends "librarian_specific/dashboard.html" %}

{% block main_body %}
    <script>
        let author_validated = false;
        let genre_validated = false;
        
        function populate_genre_form(obj){
            let i = confirm("Remove relation?")

            if (i){
                let section_id = obj.getAttribute("data-section");
                let book_id = obj.getAttribute("data-book");
                document.querySelector("#section_request_form #section_id").value = section_id;
                document.querySelector("#section_request_form #book_id").value = book_id;
                genre_validated = true;
            }
            else{
                genre_validated = false;
            }
        }

        function validate_genre_form(){
            return genre_validated;
        }

        function populate_author_form(obj){
            let i = confirm("Remove relation?")

            if (i){
                let author_id = obj.getAttribute("data-author");
                let book_id = obj.getAttribute("data-book");
                document.querySelector("#author_request_form #author_id").value = author_id;
                document.querySelector("#author_request_form #book_id").value = book_id;
                author_validated = true;
            }
            else{
                author_validated = false;
            }
        }

        function validate_author_form(){
            return author_validated;
        }

        function show_add_author(){
            let element = document.getElementById("add_author");
            let curr = element.style.display;

            if (curr == "none"){
                element.style.display = "block";
                document.getElementById("button_add_author").innerText = "Cancel?"
            }
            else{
                element.style.display = "none";
                document.getElementById("button_add_author").innerText = "Add Author"
            }
        }

        function show_add_section(){
            let element = document.getElementById("add_section");
            let curr = element.style.display;

            if (curr == "none"){
                element.style.display = "block";
                document.getElementById("button_add_section").innerText = "Cancel?"
            }
            else{
                element.style.display = "none";
                document.getElementById("button_add_section").innerText = "Add Section"
            }
        }
    </script>

    <form action="{{url_for('remove_book_from_section')}}" method="POST" id="section_request_form" onsubmit="return validate_genre_form()" hidden>
        <input type="number" name="section_id" id="section_id">
        <input type="number" name="book_id" id="book_id">
    </form>

    <form action="{{url_for('remove_book_from_author')}}" method="POST" id="author_request_form" onsubmit="return validate_author_form()" hidden>
        <input type="number" name="author_id" id="author_id">
        <input type="number" name="book_id" id="book_id">
    </form>

    <div class="container text-center mx-auto border border-dark p-1">
        <div class="row text-center mx-auto">
            <div class="col">
                <h5 class="help-text">{{ book.name }}</h5>
                {% if book.description %}
                    <p class="help-text">{{ book.description }}</p>
                {% else %}
                    <p class="help-text">No description!</p>
                {% endif %}
                <a href="{{book.content[0].filename}}">Source</a>
                <br>
                <br>
                <a class="btn btn-primary" href="{{url_for('edit_specific_book',id=book.id)}}">Edit</a>
                <a class="btn btn-danger" onclick="return confirm('Confirm Deletion?')" href="{{url_for('delete_specific_book',id=book.id)}}">Delete</a>
            </div>
        </div>    
        <br>
        <div class="row text-center mx-auto">
            <div class="col">
                <div id="add_author" style="display: none;">
                    <form action="{{url_for('add_author_to_book')}}" method="POST">
                        <input type="text" name="author_name">
                        <input type="text" name="book_id" value="{{book.id}}" hidden>
                        <input type="submit" class="btn btn-primary" value="Add Author">
                    </form>
                </div>

                <table class="mx-auto">
                    <legend><h4 class="help-text">Authors</h4></legend>
                    <button class="btn btn-info" id="button_add_author" onclick="show_add_author()">Add Author</button>
                    <br><br>
    
                    {% for author in book.authors %}
                        <tr>
                            <td><h5><a class="link-text btn" href="{{url_for('see_specific_author',id = author.id)}}">{{author.name}}</a></h5></td>
                            <td>
                                <input class="btn btn-info" type="submit" value="Remove Author" form="author_request_form" onclick = "populate_author_form(this)" data-author = "{{author.id}}" data-book = "{{book.id}}">
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="col">
                <div id="add_section" style="display: none;">
                    <form action="{{url_for('add_section_to_book')}}" method="POST">
                        <input type="text" name="section_name">
                        <input type="text" name="book_id" value="{{book.id}}" hidden>
                        <input type="submit" class="btn btn-primary" value="Add Section">
                    </form>
                </div>

                <table class="mx-auto">
                    <legend><h4 class="help-text">Genres</h4></legend>
                    <button id="button_add_section" class="btn btn-info" onclick="show_add_section()">Add Section</button>
                    <br> <br>
                    {% for section in book.sections %}
                        <tr>
                            <td><h5><a class="link-text btn" href="{{url_for('see_specific_section',id = section.id)}}">{{section.name}}</a></h5></td>
                            <td>
                                <input type="submit" class="btn btn-info" value="Remove Section" form="section_request_form" onclick = "populate_genre_form(this)" data-section = "{{section.id}}" data-book = "{{book.id}}">
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="row text-center mx-auto">
            <div class="col">
                <h4 class="help-text">Comments: </h4>
                {% if book.comments %}
                    {% for comment in book.comments %}
                        <div style="border: 1px solid black; margin:5px; padding:10px">
                            <div>
                                <a class="btn btn-info" href="{{url_for('remove_comment_from_book',id=comment.id)}}" onclick="return confirm('Remove comment?')">Delete Comment</a>
                                <h5>User :<a class="link-text btn" href="{{url_for('see_specific_user',id = comment.user.id)}}">{{comment.user.username}}</a></h5>
                            </div>
                            <div>
                                <p class="help-text">{{comment.content}}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                        <p class="help-text">No comments yet!</p>
                {% endif %}
            </div>
        </div>
        
        <div class="row text-center mx-auto">
            <div class="col">
                <h4 class="help-text">Users who borrowed: </h4>
                {% if book.borrowed %}
                    {% for b in book.borrowed %}
                        <div>
                            <a class="link-text btn" href="{{url_for('see_specific_user',id = b.user.id)}}">{{b.user.username}}</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="help-text">No borrowers!</p>
                {% endif %}
            </div>
        </div>

        <div class="row text-center mx-auto">
            <div class="col">
                <h4 class="help-text">Users who requested: </h4>
                {% if book.requested %}
                    {% for b in book.requested %}
                        <div>
                            <a class="link-text btn" href="{{url_for('see_specific_user',id = b.user.id)}}">{{b.user.username}}</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="help-text">No requesters!</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}