{% extends "librarian_specific/dashboard.html" %}

{% block main_body %}
    <script>
        let validated = false;

        function populate_form(obj){
            let i = confirm("Remove relation?")

            if (i){
                let author_id = obj.getAttribute("data-author");
                let book_id = obj.getAttribute("data-book");
                document.getElementById("author_id").value = author_id;
                document.getElementById("book_id").value = book_id;
                validated = true;
            }
            else{
                validated = false;
            }
        }

        function validate_form(){
            return validated;
        }

        function show_add(){
            let element = document.getElementById("add_book");
            let curr = element.style.display;

            if (curr == "none"){
                element.style.display = "block";
                document.getElementById("button_add").innerText = "-"
            }
            else{
                element.style.display = "none";
                document.getElementById("button_add").innerText = "+"
            }
        }
    </script>

    <form action="{{url_for('remove_book_from_author')}}" method="POST" id="request_form" onsubmit="return validate_form()" hidden>
        <input type="number" name="author_id" id="author_id">
        <input type="number" name="book_id" id="book_id">
        <input type="number" name="origin" id="origin" value="1">
    </form>

    <div class="container text-center mx-auto border border-dark p-1">

        <div class="row text-center mx-auto">
            <div class="col">
                <h5 class="help-text">{{ author.name }}</h5>
                <p class="help-text">{{ author.bio }}</p>
                <a class="btn btn-primary" href="{{url_for('edit_specific_author',id=author.id)}}">Edit</a>
                <a class="btn btn-danger" onclick="return confirm('Confirm Deletion?')" href="{{url_for('delete_specific_author',id=author.id)}}">Delete</a>
            </div>
        </div>    
        <br>
        <div class="row text-center mx-auto">
            <div class="col">
                <div id="add_book" style="display: none;">
                    <form action="{{url_for('add_author_to_book')}}" method="POST">
                        <input type="text" name="book_name">
                        <input type="text" name="author_id" value="{{author.id}}" hidden>
                        <input type="submit" class="btn btn-primary" value="Add Book">
                    </form>
                </div>
                
                <table class="mx-auto">
                    <legend><h4>Books: <button id="button_add" onclick="show_add()">+</button></h4></legend>
                    {% for book in author.books %}
                        <tr>
                            <td><h5><a class="link-text btn" href="{{url_for('see_specific_book',id = book.id)}}">{{book.name}}</h5></a></td>
                            <td>
                                <div>
                                    <input type="submit" value="x" form="request_form" onclick = "populate_form(this)" data-author = "{{author.id}}" data-book = "{{book.id}}">
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        
    </div>
{% endblock %}