{% extends "librarian_specific/dashboard.html" %}

{% block main_body %}
    <div class="container text-center mx-auto border border-dark p-1">
        <div class="row text-center mx-auto">
            <div class="col">
                <h5>{{ book.name }}</h5>
                <p>{{ book.description }}</p>
                <a class="btn btn-primary" href="{{url_for('edit_specific_book',id=book.id)}}">Edit</a>
                <a class="btn btn-danger" onclick="return confirm('Confirm Deletion?')" href="{{url_for('delete_specific_book',id=book.id)}}">Delete</a>
            </div>
        </div>    
        <br>
        <div class="row text-center mx-auto">
            <div class="col">
                <h4>Authors: <button class="btn btn-default">+</button></h4>
                {% for author in book.authors %}
                    <h5><a href="{{url_for('see_specific_author',id = author.id)}}">{{author.name}}</a><button class="btn btn-default">x</button></h5>
                {% endfor %}
            </div>

            <div class="col">
                <h4>Genres: <button class="btn btn-default">+</button></h4>
                {% for section in book.sections %}
                    <h5><a href="{{url_for('see_specific_section',id = section.id)}}">{{section.name}}</a><button class="btn btn-default">x</button></h5>
                {% endfor %}
            </div>
        </div>

        <div class="row text-center mx-auto">
            <div class="col">
                <h4>Comments: </h4>
                {% for comment in book.comments %}
                    <div>
                        <h5><a href="{{url_for('see_specific_user',id = comment.user.id)}}">{{comment.user.username}}</a><button class="btn btn-default">x</button></h5>
                        <h5>{{comment.content}}</h5>
                    </div>
                    
                {% endfor %}
            </div>
        </div>
        
    </div>
{% endblock %}