{% extends "librarian_specific/dashboard.html" %}

{% block main_body %}
<div class="container">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.obj_name.label(class='form-control-label help-text') }}
                {% if form.obj_name.errors %}
                    {{ form.obj_name(class='form-control form-control-md is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.obj_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.obj_name(class='form-control form-control-md') }}
                {% endif %}
            </div>

            <div class="form-group">
                <div class="form-check form-check-inline help-text">
                    {{ form.obj_type.label(class='form-check-label') }}
                    {{ form.obj_type(class='form-check-input')}}
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class='btn btn-info') }}
        </div>
    </form>

    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}