{% extends "base_templates/base.html" %}

{% block main_body %}
    <div class="container">
        <form action="" method="POST">
            {{ login_user_form.hidden_tag() }}
            <fieldset class="form-group">

                <div class="form-group">
                    {{ login_user_form.email.label(class='form-control-label') }}
                    {% if login_user_form.email.errors %}
                        {{ login_user_form.email(class='form-control form-control-md is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in login_user_form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ login_user_form.email(class='form-control form-control-md') }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ login_user_form.password.label(class='form-control-label') }}
                    {% if login_user_form.password.errors %}
                        {{ login_user_form.password(class='form-control form-control-md is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in login_user_form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ login_user_form.password(class='form-control form-control-md') }}
                    {% endif %}
                </div>
            </fieldset>
            
            <div class="form-group">
                {{ login_user_form.submit(class='btn btn-info') }}
            </div>
        </form>

        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}